:root {
    font-synthesis:          weight;
    text-rendering:          optimizeLegibility;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--font-main);
    font-size:   62.5%;
    line-height: 1;

    paint-order:  stroke;
    corner-shape: notch;

    color: black;
}

html,
body {
    height:  100%;
    width:   100%;
    margin:  0;
    padding: 0;
}

:focus-visible {
    outline:        6px groove black;
    outline-offset: 3px;
}

::selection {
    background:  rgb(103, 179, 255);
    color:       black;
    text-shadow: none;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.3);
}

*,
*::before,
*::after {
    /*
        transform-origin doesn't seem to default to 'center'
        on svg geometry
    */
    transform-origin:      center;
    box-sizing:            border-box;
    corner-shape:          notch;
    font-variant-numeric:  tabular-nums;

    @media (prefers-reduced-motion: reduce) {
        transition:                none   !important;
        animation-duration:        0.01ms !important;
        animation-iteration-count: 1      !important;
    }
}

[inert],
[disabled=true],
:disabled {
    pointer-events: none;
}

* {
    contain: layout;
}

[hidden] {
    display: none !important;
}

* {
    cursor: default;
}

button,
label {
    user-select: none;
}

path {
    stroke:       black;
    stroke-width: 0;
}

dl, dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    margin:  0;
    padding: 0;
}

input {
    margin: 0;
}

input[type=text],
input:not([type]),
p,
h1,
h2,
h3,
h4,
h5,
h6,
textarea {
    font:   inherit;
    cursor: text;
}

input {
    appearance: none;
}

a,
button,
input[type=checkbox],
label:has(> input[type=checkbox]) {
    cursor: pointer;

    & * {
        cursor: inherit;
    }
}

a,
button {
    cursor:  pointer;
    padding: 0;

    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    font-weight: inherit;
    color:       inherit;

    background: none;
    border:     none;
}

fieldset {
    margin:    0;
    min-width: 0;
    padding:   0;
    border:    0;
}

legend {
    display: block;
    float:   left;
    margin:  0;
    padding: 0;
}

menu,
ul {
    list-style-type: none;
    margin:          0;
    padding:         0;
}

dialog {
    padding:    0;
    background: transparent;
    border:     0;
    max-width:  calc(100% - 9px);

    &:not([open]) {
        display: none !important;
    }
}

@supports (-moz-appearance: none) {
    /*
        Firefox uses rounded linejoins for the stroked-text
        property, and there's no way to change this.

        Set stroke-linejoin to round on FF to make the SVG
        visually consistent with text-based icons that have
        strokes set using the property.
    */
    svg {
        stroke-linecap:  round;
        stroke-linejoin: round;
    }
}