:root {
    font-synthesis:          none;
    text-rendering:          optimizeLegibility;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:          var(--font-main);
    font-size:            62.5%;
    font-weight:          400;
    line-height:          1.5;

    paint-order:  stroke;
    corner-shape: notch;

    color: black;
}

html,
body {
    height:  100%;
    width:   100%;
    margin:  0;
    padding: 0;
}

::selection {
    background:  rgb(103, 179, 255);
    color:       black;
    text-shadow: none;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.3);
}

*,
*::before,
*::after {
    box-sizing:           border-box;
    corner-shape:         inherit;
    font-variant-numeric: tabular-nums;

    @media (prefers-reduced-motion: reduce) {
        transition:                none   !important;
        animation-duration:        0.01ms !important;
        animation-iteration-count: 1      !important;
    }
}

*:not(
    a, 
    button
) {
    contain: layout;
}

* {
    cursor: default;
}

button,
label {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input,
p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
textarea {
    cursor: text;
}

:disabled {
    pointer-events: none;
}

:where(
    a,
    button
) * {
    cursor: pointer;
}

a,
button {
    cursor:  pointer;
    padding: 0;

    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    font-weight: inherit;
    color:       inherit;

    background: none;
    border:     none;
}

fieldset {
    margin:    0;
    min-width: 0;
    padding:   0;
    border:    0;
}

legend {
  display: block;
  float:   left;
  margin:  0;
  padding: 0;
}

menu,
ul {
  list-style-type: none;
  margin:          0;
  padding:         0;
}

dialog {
    padding:    0;
    background: transparent;
    border:     0;
}

@supports (-moz-appearance: none) {
    /*
        Firefox uses rounded linejoins for the stroked-text
        property, and there's no way to change this.

        Set stroke-linejoin to round on FF to make the SVG
        visually consistent with text-based icons that have
        strokes set using the property.
    */
    svg {
        stroke-linecap:  round;
        stroke-linejoin: round;
    }
}