/*
    vert
*/

.txtr-vert,
.txtr-vert-after::after,
.txtr-vert-before::before {
    --txtr-vert-col-1: transparent;
    --txtr-vert-col-2: transparent;

    --txtr-vert-stop: 50%;

    background: 
        linear-gradient(
            var(--txtr-vert-col-1) var(--txtr-vert-stop),
            var(--txtr-vert-col-2) var(--txtr-vert-stop));
}

.txtr-vert--blue {
    --txtr-vert-col-1: var(--col-lt-blue-3);
    --txtr-vert-col-2: var(--col-lt-blue-5);
}

.txtr-vert--red {
    --txtr-vert-col-1: var(--col-red-2);
    --txtr-vert-col-2: var(--col-red-3);
}

.txtr-vert--dk-red {
    --txtr-vert-col-1: var(--col-red-3);
    --txtr-vert-col-2: var(--col-red-4);
}

.txtr-vert--green,
.txtr-vert-before--green::before,
.txtr-vert-after--green::after {
    --txtr-vert-col-1: var(--col-green-2);
    --txtr-vert-col-2: var(--col-green-4);
}

.txtr-vert--dk-green {
    --txtr-vert-col-1: var(--col-green-4);
    --txtr-vert-col-2: var(--col-green-5);
}

.txtr-vert--orange,
.txtr-vert-before--orange::before {
    --txtr-vert-col-1: var(--col-orange-3);
    --txtr-vert-col-2: var(--col-orange-4);
}

.txtr-vert--magenta {
    --txtr-vert-col-1: var(--col-magenta-2);
    --txtr-vert-col-2: var(--col-magenta-3);
}

.txtr-vert--yellow {
    --txtr-vert-col-1: var(--col-yellow-2);
    --txtr-vert-col-2: var(--col-yellow-3);
}

.txtr-vert--lt-gray {
    --txtr-vert-col-1: var(--col-lt-gray-2);
    --txtr-vert-col-2: var(--col-lt-gray-4);
}

.txtr-vert--gray {
    --txtr-vert-col-1: var(--col-gray-2);
    --txtr-vert-col-2: var(--col-gray-3);
}

.txtr-vert--dk-gray {
    --txtr-vert-col-1: var(--col-gray-4);
    --txtr-vert-col-2: var(--col-gray-5);
}

/*
    diag
*/

.txtr-diag {
    --grad-deg: -30deg;

    --stop-1: min(25%, 12px);
    --stop-2: 50%;
    --stop-3: max(75%, calc(100% - 12px));

    background:
        linear-gradient(var(--grad-deg),
            var(--grad-c1) var(--stop-1),
            var(--grad-c2) var(--stop-1) var(--stop-2),
            var(--grad-c3) var(--stop-2) var(--stop-3),
            var(--grad-c4) var(--stop-3));
}

.txtr-diag--red {
    --grad-c1: var(--col-red-3);
    --grad-c2: var(--col-red-2);
    --grad-c3: var(--col-red-2);
    --grad-c4: var(--col-red-1);
}

.txtr-diag--dk-red {
    --grad-c1: var(--col-red-4);
    --grad-c2: var(--col-red-3);
    --grad-c3: var(--col-red-2);
    --grad-c4: var(--col-red-1);
}

.txtr-diag--green {
    --grad-c1: var(--col-green-4);
    --grad-c2: var(--col-green-2);
    --grad-c3: var(--col-green-3);
    --grad-c4: var(--col-green-1);
}

.txtr-diag--dk-green {
    --grad-c1: var(--col-green-5);
    --grad-c2: var(--col-green-4);
    --grad-c3: var(--col-green-3);
    --grad-c4: var(--col-green-0);
}

.txtr-diag--orange {
    --grad-c1: var(--col-orange-5);
    --grad-c2: var(--col-orange-3);
    --grad-c3: var(--col-orange-2);
    --grad-c4: var(--col-orange-1);
}

.txtr-diag--magenta {
    --grad-c1: var(--col-magenta-3);
    --grad-c2: var(--col-magenta-2);
    --grad-c3: var(--col-magenta-2);
    --grad-c4: var(--col-magenta-1);
}

.txtr-diag--lt-gray {
    --grad-c1: var(--col-lt-gray-4);
    --grad-c2: var(--col-lt-gray-2);
    --grad-c3: var(--col-lt-gray-3);
    --grad-c4: var(--col-lt-gray-1);
}

.txtr-diag--gray {
    --grad-c1: var(--col-gray-4);
    --grad-c2: var(--col-gray-3);
    --grad-c3: var(--col-gray-2);
    --grad-c4: var(--col-gray-0);
}

/*
    dots
*/

.txtr-dots {
    --dots-size:      1.6px;
    --dots-spacing-x: 26px;
    --dots-spacing-y: 26px;

    background-image: radial-gradient(circle at top,    var(--dots-col) var(--dots-size), transparent var(--dots-size)),
                      radial-gradient(circle at bottom, var(--dots-col) var(--dots-size), transparent var(--dots-size)),
                      radial-gradient(circle at right,  var(--dots-col) var(--dots-size), transparent var(--dots-size)),
                      radial-gradient(circle at left,   var(--dots-col) var(--dots-size), transparent var(--dots-size));

    background-color:      var(--dots-bg);
    background-size:       var(--dots-spacing-x) var(--dots-spacing-y);
    background-repeat:     repeat;
    background-position-y: 4px;
}

.txtr-dots--blue {
    --dots-bg:  var(--col-blue-1);
    --dots-col: var(--col-blue-2);
}

.txtr-dots--green {
    --dots-bg:      var(--col-green-4);
    --dots-col:     var(--col-green-6);
}

/*
    spiky
*/

.txtr-spiky {
    --spiky-deg:       30deg;
    --spiky-spikiness: 25%;

    background: linear-gradient(var(--spiky-deg),
        var(--spiky-c1) 25%,
        var(--spiky-c2) 25% 50%,
        var(--spiky-c3) 50% 75%,
        var(--spiky-c4) 75%
    );

    background-size: var(--spiky-spikiness) 100%;
    background-repeat: repeat;
}

.txtr-spiky--green {
    --spiky-c1: var(--col-green-4);
    --spiky-c2: var(--col-green-2);
    --spiky-c3: var(--col-green-3);
    --spiky-c4: var(--col-green-1);
}

.txtr-spiky--orange {
    --spiky-c1: var(--col-green-4);
    --spiky-c2: var(--col-green-2);
    --spiky-c3: var(--col-green-3);
    --spiky-c4: var(--col-green-1);
}