/*
    diag
*/

.txtr-diag {
    --grad-deg: -30deg;

    --stop-1: min(25%, 12px);
    --stop-2: 50%;
    --stop-3: max(75%, calc(100% - 12px));

    background:
        var(--grad-c4)
        linear-gradient(var(--grad-deg),
            var(--grad-c1) var(--stop-1),
            var(--grad-c2) var(--stop-1) var(--stop-2),
            var(--grad-c3) var(--stop-2) var(--stop-3),
            var(--grad-c4) var(--stop-3));
}

.txtr-diag--red {
    --grad-c1: var(--col-red-2);
    --grad-c2: var(--col-red-1);
    --grad-c3: var(--col-red-2);
    --grad-c4: var(--col-red-1);
}

.txtr-diag--dk-red {
    --grad-c1: var(--col-red-4);
    --grad-c2: var(--col-red-2);
    --grad-c3: var(--col-red-3);
    --grad-c4: var(--col-red-2);
}

.txtr-diag--green {
    --grad-c1: var(--col-green-4);
    --grad-c2: var(--col-green-2);
    --grad-c3: var(--col-green-3);
    --grad-c4: var(--col-green-1);
}

.txtr-diag--dk-green {
    --grad-c1: var(--col-green-5);
    --grad-c2: var(--col-green-4);
    --grad-c3: var(--col-green-3);
    --grad-c4: var(--col-green-0);
}

.txtr-diag--orange {
    --grad-c1: var(--col-orange-4);
    --grad-c2: var(--col-orange-2);
    --grad-c3: var(--col-orange-3);
    --grad-c4: var(--col-orange-1);
}

.txtr-diag--magenta {
    --grad-c1: var(--col-magenta-4);
    --grad-c2: var(--col-magenta-2);
    --grad-c3: var(--col-magenta-3);
    --grad-c4: var(--col-magenta-1);
}

.txtr-diag--lt-gray {
    --grad-c1: var(--col-lt-gray-4);
    --grad-c2: var(--col-lt-gray-2);
    --grad-c3: var(--col-lt-gray-3);
    --grad-c4: var(--col-lt-gray-1);
}

.txtr-diag--gray {
    --grad-c1: var(--col-gray-4);
    --grad-c2: var(--col-gray-3);
    --grad-c3: var(--col-gray-2);
    --grad-c4: var(--col-gray-0);
}

/*
    dots
*/

.txtr-dots {
    --dots-size:      1.6px;
    --dots-spacing-x: 26px;
    --dots-spacing-y: 26px;

    background-image: radial-gradient(circle at top,    var(--dots-col) var(--dots-size), transparent var(--dots-size)),
                      radial-gradient(circle at bottom, var(--dots-col) var(--dots-size), transparent var(--dots-size)),
                      radial-gradient(circle at right,  var(--dots-col) var(--dots-size), transparent var(--dots-size)),
                      radial-gradient(circle at left,   var(--dots-col) var(--dots-size), transparent var(--dots-size));

    background-color:      var(--dots-bg);
    background-size:       var(--dots-spacing-x) var(--dots-spacing-y);
    background-repeat:     repeat;
    background-position-y: 4px;
}

.txtr-dots--blue {
    --dots-bg:  var(--col-blue-1);
    --dots-col: var(--col-blue-2);
}

.txtr-dots--green {
    --dots-bg:      var(--col-green-4);
    --dots-col:     var(--col-green-6);
}

/*
    spiky
*/

.txtr-spiky {
    --spiky-deg:       30deg;
    --spiky-spikiness: 25%;

    background: linear-gradient(var(--spiky-deg),
        var(--spiky-c1) 25%,
        var(--spiky-c2) 25% 50%,
        var(--spiky-c3) 50% 75%,
        var(--spiky-c4) 75%
    );

    background-size: var(--spiky-spikiness) 100%;
    background-repeat: repeat;
}

.txtr-spiky--green {
    --spiky-c1: var(--col-green-4);
    --spiky-c2: var(--col-green-2);
    --spiky-c3: var(--col-green-3);
    --spiky-c4: var(--col-green-1);
}

.txtr-spiky--orange {
    --spiky-c1: var(--col-green-4);
    --spiky-c2: var(--col-green-2);
    --spiky-c3: var(--col-green-3);
    --spiky-c4: var(--col-green-1);
}

/*
    dither
*/

.txtr-dither {
    /*
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2">
            <rect fill="#0001" x="1" width="1" height="1"/>
            <rect fill="#0001" y="1" width="1" height="1"/>
        </svg>
    */

    --dither-opacity:    0.2;
    --dither-inner-mask: transparent;
    --dither-outer-mask: transparent;
    --dither-outer-size: 30px;

    background: 
        linear-gradient(
            var(--dither-color-1) 3px,
            var(--dither-color-2) 3px 50%,
            var(--dither-color-3) 50% calc(100% - 3px),
            var(--dither-color-4) calc(100% - 3px));

    mask:
        url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202%202%22%3E%3Crect%20fill%3D%22%23333%22%20x%3D%221%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3Crect%20fill%3D%22%23333%22%20x%3D%220%22%20y%3D%221%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fsvg%3E%0A") 
            50% 50%/8px 8px repeat subtract,
        linear-gradient(
            var(--dither-outer-mask) var(--dither-outer-size),
            var(--dither-inner-mask) var(--dither-outer-size) calc(100% - var(--dither-outer-size)),
            var(--dither-outer-mask)                          calc(100% - var(--dither-outer-size))) 
            subtract;

    opacity: var(--dither-opacity);
}

.txtr-dither--green {
    --dither-color-1: transparent;
    --dither-color-2: var(--col-green-0);
    --dither-color-3: var(--col-green-5);
    --dither-color-4: transparent;
}

.txtr-dither--gray {
    --dither-color-1: transparent;
    --dither-color-2: var(--col-gray-3);
    --dither-color-3: var(--col-gray-4);
    --dither-color-4: transparent;

    --dither-opacity: 0.3;
}