:root {
    --font-heading: 'Momo Trust Display', sans-serif;

    --bg: white;
    --fg: black;
    --text: black;
    --subtle: rgb(210, 212, 220);

    --border-small: 3.5px solid var(--fg);
    --border-large: 4px solid var(--fg);
    --border-radius-small: 6px;
    --border-radius-large: 10px;
    --border-shadow-small: 4px 4px 0 var(--fg);
    --border-shadow-large: 6px 6px 0 var(--fg);
}