:root {
    --font-heading: 'Jersey 15', sans-serif;

    --bg: white;
    --fg: black;
    --fg: black;
    --text: black;
    --subtle: #f4e1f7;

    --border-small: 3px solid var(--fg);
    --border-large: 3.5px solid var(--fg);
    --border-radius-small: 0px;
    --border-radius-large: 0px;
    --border-shadow-small: 3px 3px 0 var(--fg);
    --border-shadow-large: 5px 5px 0 var(--fg);
}