:root {
    --font-main: 'Jersey 15';

    --col-gray-0: #ffffff;
    --col-gray-1: #eff3f7;
    --col-gray-2: #cbd4de;
    --col-gray-3: #b0b9cc;
    --col-gray-4: #8e94ac;
    --col-gray-5: #757a8f;
    --col-gray-6: #656b82;
    --col-gray-7: #4d5269;

    --col-lt-gray-0: #ffffff;
    --col-lt-gray-1: #f8fafc;
    --col-lt-gray-2: #edf0f3;
    --col-lt-gray-3: #eaecf1;
    --col-lt-gray-4: #dde0e8;
    --col-lt-gray-5: #c9cfdc;
    --col-lt-gray-6: #b6bece;
    --col-lt-gray-7: #a5afc2;

    --col-blue-0: #dce5ff;
    --col-blue-1: #7298ff;
    --col-blue-2: #486ac1;
    --col-blue-3: #2c4a95;
    --col-blue-4: #152e6d;
    --col-blue-5: #0d2257;
    --col-blue-6: #07163c;

    --col-lt-blue-0: #f2f5ff;
    --col-lt-blue-1: #ccd7f7;
    --col-lt-blue-2: #b3c2ee;
    --col-lt-blue-3: #b1c2f4;
    --col-lt-blue-4: #97adf0;
    --col-lt-blue-5: #7f98e4;
    --col-lt-blue-6: #6984d3;
    --col-lt-blue-7: #5a76c9;

    --col-red-0: #ffeeee;
    --col-red-1: #ffdfdf;
    --col-red-2: #ffb0b0;
    --col-red-3: #ff7373;
    --col-red-4: #fd4d4d;
    --col-red-5: #f14141;
    --col-red-6: #d21138;
    --col-red-7: #b60b2d;
    --col-red-8: #9e0826;

    --col-green-0: #f3f9ee;
    --col-green-1: #d9f0c1;
    --col-green-2: #b3e87d;
    --col-green-3: #a6ed5e;
    --col-green-4: #91df43;
    --col-green-5: #7ebd3e;
    --col-green-6: #629f25;
    --col-green-7: #4d8119;
    --col-green-8: #3c6710;
    --col-green-9: #1e3705;

    --col-orange-0: #fff8ef;
    --col-orange-1: #ffebd0;
    --col-orange-2: #ffd8a3;
    --col-orange-3: #ffbf73;
    --col-orange-4: #ffb35a;
    --col-orange-5: #ffa43b;
    --col-orange-6: #f3952a;
    --col-orange-7: #e2871e;
    --col-orange-8: #e27e0c;

    --col-magenta-0: #fff2fe;
    --col-magenta-1: #ffdffc;
    --col-magenta-2: #feb0ff;
    --col-magenta-3: #e573ff;
    --col-magenta-4: #fc5aff;
    --col-magenta-5: #f348f6;
    --col-magenta-6: #d82ddb;

    --border-thickness-s:  2.5px;
    --border-thickness-l:  2.5px;

    --border-s: var(--border-thickness-s) solid black;
    --border-l: var(--border-thickness-l) solid black;

    --radius-s: 3px;
    --radius-l: 6px;

    --shadow-dist-xs: 1.8px;
    --shadow-dist-s:  2.2px;
    --shadow-dist-m:  3.0px;
    --shadow-dist-l:  5.0px;

    --shadow-aura-dist: 2px;

    --shadow-xs: 0 var(--shadow-dist-xs) 0 black;
    --shadow-s:  0 var(--shadow-dist-s)  0 black;
    --shadow-m:  0 var(--shadow-dist-m)  0 black;
    --shadow-l:  0 var(--shadow-dist-l)  0 black;
    --shadow-aura: 0 0 0 var(--shadow-aura-dist) white;

    --text-stroke-width-xs: 3px;
    --text-stroke-width-s:  3.5px;
    --text-stroke-width-l:  4.0px;

    --text-stroke-xs: var(--text-stroke-width-xs) white;
    --text-stroke-s:  var(--text-stroke-width-s)  white;
    --text-stroke-l:  var(--text-stroke-width-l)  white;

    --vp-margin: 8px;

    --filter-hl-0: brightness(1.02);
    --filter-hl-1: brightness(1.06);
    --filter-hl-2: brightness(1.08);

    @supports not (corner-shape: notch) {
        --radius-s: 6px;
    }
}