/*
    HackerNews Pixel Icon Set.
    Most icons have been removed to shrink the file sizes by ~90%.
*/

@font-face {
	font-family: iconfont;
	src:         url('./iconfont.woff2');
}

.hn {
    line-height: 1;
}

.hn:before {
    font-family:    iconfont !important;
    font-style:     normal;
    font-weight:    normal !important;
    vertical-align: top;
}

.hn-github:before{content:"\f110"}
.hn-google:before{content:"\f113"}
.hn-rss:before{content:"\f124"}
.hn-angle-down:before{content:"\f14d"}
.hn-angle-left:before{content:"\f14e"}
.hn-angle-right:before{content:"\f14f"}
.hn-angle-up:before{content:"\f150"}
.hn-arrow-alt-circle-down:before{content:"\f151"}
.hn-arrow-alt-circle-left:before{content:"\f152"}
.hn-arrow-alt-circle-right:before{content:"\f153"}
.hn-arrow-alt-circle-up:before{content:"\f154"}
.hn-bookmark:before{content:"\f167"}
.hn-check-solid:before{content:"\f232"}
.hn-check-circle:before{content:"\f172"}
.hn-crown:before{content:"\f185"}
.hn-globe:before{content:"\f19f"}
.hn-lightbulb:before{content:"\f1ad"}
.hn-pen-nib-solid:before{content:"\f282"}
.hn-robot:before{content:"\f1d8"}
.hn-angle-down-solid:before{content:"\f20b"}
.hn-angle-left-solid:before{content:"\f20c"}
.hn-angle-right-solid:before{content:"\f20d"}
.hn-angle-up-solid:before{content:"\f20e"}
.hn-lock-alt-solid:before{content:"\f26f"}
.hn-lock-open-solid:before{content:"\f270"}
.hn-question-solid:before{content:"\f290"}
.hn-spinner-solid:before{content:"\f2a2"}
.hn-thumbsdown-solid:before{content:"\f2ac"}
.hn-thumbsup-solid:before{content:"\f2ad"}
.hn-thumbtack-solid:before{content:"\f2ae"}
.hn-times-circle-solid:before{content:"\f2af"}
.hn-times-solid:before{content:"\f2b0"}
.hn-user-solid:before{content:"\f2bd"}
.hn-search:before{content:"\f1da"}